<footer class="bottom-bar">

  <div class="container bottom-bar__layout">

    <div class="bottom-bar__brand">

      <small>

        © 2016–2026
        Powered by <strong>PLAN</strong>.

      </small>

    </div>

    <nav class="bottom-bar__nav" aria-label="Footer">

      <a href="#">
        Privacy
      </a>

      <a href="#">
        Terms
      </a>

      <a href="#">
        <i class="fa-solid fa-thumbs-up"></i>
        Support
      </a>

      <div class="return-to-main"><a href="https://plan-ng.com">Return to PLAN Website</a></div>

    </nav>

  </div>

</footer>

<!--     
    <div class="container flex flex-column gap-4">

      <div class="copyright">&copy; 2016 - 2026 NIPITECS. Powered by PLAN. All rights reserved.</div>
      <div class="return-to-main"><a href="https://plan-ng.com">Return to PLAN Website</a></div>

    </div> -->