body {
    font-family: var(--font-body);
    font-size: var(--text-md);
    font-weight: var(--weight-regular);
    line-height: var(--line-body);

    background: var(--background);
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: var(--weight-bold);
    line-height: var(--line-heading);
}